.container{
    width: 1000px;
    height: auto;
    margin: auto;
}
.row{
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    /* flex-direction: row; */
    /* flex-direction: column-reverse; */
    /* flex-direction: row-reverse; */
}
.col{
    background-color: thistle;
    padding: 15px;
    color: white;
    margin: 5px;
    flex: 3 3 10px; /*streches the item by keeping the height as  100px */
}