/* nav-bar */
.nav-bar{
    background-color: rgb(222, 222, 222);
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}
.nav-bar img{
    width: 80px;
    height: 80px;
    margin: 0px;
}
.nav-bar ul{
    display: flex;
    flex-direction: row;
}
.nav-bar ul li{
    display: flex;
    justify-items: end;
    align-items: end;
    padding: 0px 25px;
} 
.nav-bar ul li a{
    text-decoration-line: none;
    color: black;
    justify-items: end;
}
.nav-bar ul li a:hover{
    color: rgb(92, 92, 92);
}